{% extends "base.html" %}

{% block sidebar %}
<div id="aboutsidebar" class="sidebar alpha omega grid_2"> 
  <ul>
    <li><h4><a href="/about/">About the Company</a></li></h4>
    <li><h4><a href="/staff/">About the Staff</a></li></h4>
    <li><h4><a href="/press/">Press</a></li></h4>
    <li><h4><a href="/findus/">Find Us</a></li></h4>
    </ul>
  </div>
{% endblock sidebar %}


{% block content %}
<div id="main" class="alpha omega grid_10"> 
  <div id="abouts" class="maintext alpha omega grid_9">
    <h3>Find us</h3>
    <p> Maybe a google map with our latitude locations? Or our sweet, sweet office. Or just a photo of SF? </p>
    

    
    </div> <!--closes the maintext div-->

  </div> <!--closes the main div-->

{% endblock content %}
