{% extends "backend/backA2.html" %}

{% block js %}
js/jquery.js
{% endblock js %}

{% block js2 %}
js/dcmockup3.js
{% endblock js2 %}

{% block searchcrumb %}
<div id="searchcrumb" class="alpha omega grid_16 prefix_6">
<ol id="breadcrumb">
 <li><a href="/backend/">Results</a>
  <ol>
   <li><a href="/backend/Higher rise/">Higher rise</a>
  </ol> 
</ol>
</div><!--close searchcrumb-->


{% endblock searchcrumb %}

{% block fitbullets %}
      <li class="fitbullet"><a href="/backend/Higher rise/{{ pant.waist}}/">{{pant.waist}}</a></li>
      <li class="fitbullet"><a href="/backend/{{ pant.rise }}/">{{pant.rise}}</a></li>
      <li class="fitbullet"><a href="/backend/Higher rise/{{ pant.cuff }}/">{{pant.cuff}}</a></li>
      <li class="fitbullet"><a href="/backend/Higher rise/{{ pant.thigh }}/">{{pant.thigh}}</a></li>
{% endblock fitbullets%}
